# This file contains common pin mappings for the BIGTREETECH SKR V1.4
# board. To use this config, the firmware should be compiled for the
# LPC1768 or LPC1769(Turbo).

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0BE0000AA49869AF34F13E5EC62000F5-if00

# [virtual_sdcard]
# path: ~/gcode_files

# [display_status]

# [pause_resume]

[include mainsail.cfg]

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.29
position_endstop: 0
position_max: 220
homing_speed: 30

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: !P1.28
position_endstop: 215
position_max: 215
homing_speed: 30

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop #!P1.27
#position_endstop: 0.5
position_min: -10
position_max: 235

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 7.25048
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.76
pressure_advance_smooth_time: 0.040
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_kp: 18.168
pid_ki: 0.797
pid_kd: 103.560
min_temp: 0
max_temp: 260
min_extrude_temp: 190

#[extruder1]
#step_pin: P1.15
#dir_pin: P1.14
#enable_pin: !P1.16
#heater_pin: P2.4
#sensor_pin: P0.23
#...

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
pid_kp: 72.789
pid_ki: 1.116
pid_kd: 1187.376
min_temp: 0
max_temp: 110

[fan]
pin: P2.3

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 2000
max_z_velocity: 10
max_z_accel: 100
#max_accel_to_decel: 1000
square_corner_velocity: 5.0


########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.800
#interpolate: True
#hold_current: 0.600
sense_resistor: 0.110
stealthchop_threshold: 0
#
[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.800
#interpolate: True
#hold_current: 0.600
sense_resistor: 0.110
stealthchop_threshold: 0
#
[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.800
#interpolate: True
#hold_current: 0.600
sense_resistor: 0.110
stealthchop_threshold: 0
#
[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.800
#interpolate: True
#hold_current: 0.600
sense_resistor: 0.110
stealthchop_threshold: 0
#
#[tmc2209 extruder1]
#uart_pin: P1.1
#run_current: 0.800
#interpolate: True
#hold_current: 0.600
#sense_resistor: 0.110
#stealthchop_threshold: 0


########################################
# Board LCD pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# RepRapDiscount Full Graphic Smart Controller
[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1


########################################
# Neopixel
########################################

[neopixel neo]
pin: P1.24
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 12
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.


########################################
# RPI P3B
########################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


########################################
# Probe
########################################

[include ./probe.cfg]


######################################################################
# Macro Start Print - End Print and others
######################################################################

[include ./macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*#
#*# [extruder]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.005000, 0.037187, -0.183750
#*# 	  -0.034375, 0.008750, -0.195938
#*# 	  0.005000, 0.053750, -0.085000
#*# 	  0.062187, 0.174375, 0.090312
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 3
#*# max_y = 199.99
#*# mesh_x_pps = 2
#*# max_x = 195.0
#*#
#*# [bed_mesh mesh_bed]
#*# version = 1
#*# points =
#*# 	  0.005000, 0.037187, -0.183750
#*# 	  -0.034375, 0.008750, -0.195938
#*# 	  0.005000, 0.053750, -0.085000
#*# 	  0.062187, 0.174375, 0.090312
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 3
#*# max_y = 199.99
#*# mesh_x_pps = 2
#*# max_x = 195.0
